%h1#haml-time HAML Time

%nav
  %ul
    %li
      %a{href: "/quiz"} Quiz

%ul
  %li
    %a.banana#ripe{href: "/banana"} Banana

%section
  %article.one

%table
  %thead
    %tr.first hearts moons stars


%form
  %input{type: 'checkbox'}
  / = check_box_tag "fave"
  %label{for: 'fave_cereal'}
  %select#fave_cereal


%footer

